<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div>
        <h1>{{pageTitle}}</h1>
        <table class="table table-bordered table-responsive-sm">
            <tr>
                <td>温度</td>
                <td>{{temp}} C</td>
            </tr>
            <tr>
                <td>湿度</td>
                <td>{{hum}} %</td>
            </tr>
        </table>
        測定日時：{{datetime}}
      </div>
     </div>
   </body>
</html>